// Variables
$website-width: 1280px;
$main-color: #FF6B35;
$light-color: #e1e1e5;
$dark-color: #282828;
$medium-color: #D3D3D3;
$highlight-color:#1C7C54;
$bg-image: url('../img/abstract.jpg');

// Set Text Color
@function set-text-color($color) {
  @if(lightness($color) > 50){
    @return #000;
  }@else{
    @return #fff;
  } 
}